$header-size: 34px;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: $color-white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: all .35s ease-in-out;

  &:hover {
    color: #f1c232;
  }
}

ul {
  list-style-position: inside;
  list-style-type: circle;
}

ol {
  list-style-position: inside;
}

li {
  margin-bottom: .5em;
}

h1, h2, h3, h4 {
  font-family: 'Titillium Web', sans-serif;
}

code[class*="language-"], pre[class*="language-"], .Language {
  font-size: 0.9em;
  padding: 0 2px;
  margin-bottom: 1em;
  background-color: $color-grey;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  // Prism has strange operator highlight rules
  * {
    background-color: $color-grey !important;
  }
}

.token {
  .operator {
    background: transparent;
  }
}

.Header {
  background-color: $color-wasm-blue;
  color: #fff;
  padding: 8px 0;
  min-height: 50px;
  width: 100%;

  &-icon {
    height: $header-size;
    width: auto;
  }

  &-wrapper {
    margin: 0 auto;
    max-width: 1100px;
    padding-right: 10px;
  }

  .Navbar {
    font-size: 1.15em;
    height: $header-size;
    margin-left: auto;

    &-wrapper {
      position: relative;
      padding: 0;
      left: 0;

      ul {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding: 0;
        width: auto;
        list-style: none;

        a {
          height: 34px;
          display: flex;
          color: inherit;
          align-items: center;
          &:hover {
            font-weight: 700;
          }
        }
      }
    }
  }

  header {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
  }
}

.Root {
  left: 0;
  min-height: 100%;
}

.Intro, .Promo {
  padding: 20px 0;
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-yellow;
  background-color: $color-wasm-blue;
  border-bottom: 3px solid black;

  &-tagline {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
  }
}

.Promo {
  background-color: $color-grey;
  background-attachment: fixed;
  padding: 10px;

  &-title {
    margin: auto;
    text-align: center;
  }

  &-content {
    display: flex;
    align-items: baseline;
    padding-top: 10vh;
    flex-flow: column nowrap;
    align-items: center;

    @include for-tablet-landscape-up {
      flex-flow: row nowrap;
      justify-content: center;
      align-items: baseline;
    }

    pre {
      padding-top: 20px;
      font-size: 0.9em;
      padding: 0 2px;

      @include for-tablet-landscape-up {
        font-size: 1em;
      }
    }
  }

  &-tagline, &-features {
    color: $color-blackish;
    text-align: center;
    padding: 20px 0;
    max-width: 650px;
  }

  &-flare, &-features {
    font-size: 0.8em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    @include for-tablet-landscape-up {
      font-size: 1em;
    }
  }

  &-tagline {
    font-weight: 300;
    font-size: 1.2em;
  }

  &-features {
    &-copy {
      margin: 10px 0;
    }

    ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      list-style: disc outside none;
      margin-top: 10px;
      text-align: initial;
    }
  }
}

.CallToAction {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  margin: 50px 0;

  &-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 10vw;

    &-button {
      display: inline-block;
      border: 3px solid $color-wasm-blue;
      border-radius: 3px;
      line-height: 1.2;
      color: $color-blackish;
      text-transform: uppercase;
      padding: 10px;

      &:hover {
        background-color: $color-wasm-blue;
        color: $color-white;
      }
    }
  }
}

button {
  display: inline-block;
  background: transparent;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: inherit;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}


header {
  display: flex;
  h1 {
    font-weight: 700;

    a:hover {
      color: inherit;
    }
  }

  nav {
    padding: 2.25em;
    font-size: 1em;
    position: absolute;
    top: 0;

    a:before {
      content: "-";
      margin: 10px;
    }
    a:first-child:before {
      content: "";
    }
  }
}

table {
  margin-bottom: 50px;
  border-spacing: 0;
  width: 100%;

  tr {
    vertical-align: middle;
  }
}

