body.docs {

  header {
    background: #654ff0 linear-gradient(to bottom left,#654ff0,#4733bd);
    color: #fff;
    border-bottom: 1px solid white;
    padding: 10px;
    nav {
      right: 1em;
      font-size: 1.15em;
      padding: 25px 0;
    }
    h1 {
      img {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  h2 {
    padding: 0 10px;
  }

  hr {
    width: 70%;
    border: none;
    border-bottom: 2px dashed #424242;
    margin: auto auto 2em;
    padding-top: 1em;
  }

  article {
    margin-bottom: 20px;
    padding: 0 10px 20px;

    h2 {
      color: #1f1f1f;
    }

    h3 {
      color: #654ff0;
    }

    .info {
      margin-top: 2em;
      h4 {
        margin: 10px 0;
      }
      p {
        padding: 0;
      }
    }
  }

  .Button {
    font-size: 2em;
    padding: 0.2em;
    transition: all .35s ease-in-out;

    @include header2-font(hamburger);
  }

  .Api {
    display: flex;
    width: 100vw;
  }

  .Content {
    flex-basis: 100%;
    &--prose {
      h1, h2, h3 {
        padding: 0.5rem 0;
      }
      h4 {
        padding: 0.25rem 0;
      }
    }
  }

  .TableOfContents {
    flex-basis: 33%;
    background: $color-grey-beige none repeat scroll 0 0;
    display: block;
    padding: 20px;

    &-title {
      // font-weight: 700;
      text-align: center;
      ul, li {
        list-style: outside none none !important;
      }
    }
  }
}
