body.docs {
  header {
    nav {
      right: 1em;
      padding: 30px 0;
    }
    h1 {
      padding: 0;
      margin: 20px;
      img {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

  h2 {
    padding: 0 10px;
  }

  hr {
    width: 70%;
    border: none;
    border-bottom: 2px dashed #424242;
    margin: auto auto 2em;
    padding-top: 1em;
  }

  article {
    margin-bottom: 20px;
    padding: 0 10px 20px;

    h2 {
      color: #1f1f1f;
    }

    h3 {
      color: #654ff0;
    }

    .info {
      margin-top: 2em;
      h4 {
        margin: 10px 0;
      }
      p {
        padding: 0;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
