.AnimatedLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 38vh;
  }

  .hat {
    animation: bounce-3px 1s ease infinite;
  }

  .glasses {
    animation: bounce-5px 1s ease infinite;
  }
}

