@import './mixins/media-queries.scss';
@import 'partials/colors';
@import 'partials/headers';

// shared global styling overrides
@import './base.scss';

// shared keyframe animations
@import './animations.scss';

// styles only for docs section of site
@import './docs.scss';

// styles only for landing page of site
@import './landing.scss';
